<div>
  <h2>List of Artists</h2>
  <div class="well well-sm">
    <form>
      <label for="name">Add an artist:</label>
      {{input value=newArtist}}
      <button {{action 'saveNew'}} class="btn btn-success btn-sm">Save</button>
    </form>
  </div>
  <ul>
    {{#each model as |artist|}}
      <li>
        {{#if artist.isEditing}}
          <div class="well well-sm">
          <form {{action 'saveEdit' artist on='submit'}}>
            {{input value=artist.name}}
            <button type='submit' class="btn btn-success btn-sm">Save</button>
            <button {{action 'cancel' artist}} class="btn btn-danger btn-sm">Cancel</button>
          </form>
        </div>
        {{else}}
        <div>
          <p>{{artist.name}}</p>
          <p>Albums:</p>
          <ul>
            {{#each artist.albums as |album|}}
            <li>{{album.name}}</li>
            {{/each}}
          </ul>
          <button {{action 'edit' artist}} class="btn btn-primary btn-sm">Edit</button>
          <button {{action 'delete' artist}} class="btn btn-danger btn-sm">Delete</button>
        </div>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}
