<div class="jumbo">
  <h1>My Music</h1>
  <p>Basic info about the service goes here.</p>
  <form>
    {{input value=newLabel}}
    {{input value=newArtist}}
    {{input value=newAlbum}}
    {{input value=newSong}}
    <button type="button" {{action 'createEntry'}}>Add</button>
  </form>
</div>
